body{
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
    height: 100vh;
    margin:0;
    background: #45474B;
}

/* header and nav styles */
.menu{
    display: flex;
    justify-content: right;
    margin:3rem;
    z-index: 2;
    position: relative; /*adding this so that the menu background falls behind it. Z indexing doesnt work for elements 
    with position: static, in our case here .menu is positioned by default to static*/

}

.hamburger{
    height:50px;
    width:50px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor:pointer

}

.bars{
    background: #379777;
    width:100%;
    height:8%;
    border-radius: 3%;
}

.navbar{
    display: flex;
    gap:2rem;
    list-style-type: none;
}

.navbar a{
    color: #379777;
    text-decoration: none;
}

.hamburger:hover{
    .bars{
        background: #F4CE14;
    }
}

.menuBackground{
    position: absolute;
    min-width:50vw; /*value i got by playing around*/
    height:50%;
    background: #F4CE14;
    z-index: 1;
    top:0;
    border-radius: 50%;
    transform: translate(-20%,-20%);
    display: none;

}

/* make the adjustments for a mobile screen */
@media screen and (max-width:809px) {
    .menu{
        display: block;
    }

    .hamburger{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        padding-left: 0;
    }
    
    
}