body{
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
    height: 100vh;
    margin:0;
    background: #EFECEC;
    scroll-behavior: smooth;
}

/* header and nav styles */
.menu{
    display: flex;
    justify-content: right;
    margin:3rem;
    z-index: 3;
    position: relative; /*adding this so that the menu background falls behind it. Z indexing doesnt work for elements 
    with position: static, in our case here .menu is positioned by default to static*/

}

.hamburger{
    height:50px;
    width:50px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor:pointer

}

.bars{
    background: #0C2D57;
    width:100%;
    height:8%;
    border-radius: 3%;
    transition: all 0.3s ease;
}

.navbar{
    display: flex;
    gap:2rem;
    font-size: 1.5rem;
    list-style-type: none;
    transition: 0.3s ease;
}

.navbar a{
    color: #0C2D57;
    text-decoration: none;
}

.menuBackground{
    position: absolute;
    min-width:0;
    height:0;
    background: #FFB0B0;
    z-index: 1;
    top:0;
    border-radius: 50%;
    transform: translate(-20%,-20%);
    transition: 0.3s ease-in-out;
    /*i didnt set display here to none because i want the circle enlarging effect upon click*/
}

.navbar a:hover{
    color: #FC6736;
}




/* main section styles */
main{
    margin:4rem 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title{
    font-size: 5rem;
    text-align: left;
    color:#FC6736;
    position: relative; /*for the floating animation*/
    animation: 2s float ease-in-out infinite;

}


.imageContainer{
    width:500px;
    height:500px;
    background: #379777;
    border-radius: 50%;
    position: relative;
    box-shadow: 2px 4px 4px 4px grey;
    animation: 2s float ease-in-out infinite;
    animation-delay: 1s;

}

.profilePic{
    display: block;
    object-fit: cover;
    width:100%;
    border: none;
    height:100%;
    border-radius: 50%;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }

    50%{
        transform:translateY(-10px)
    }

    100%{
        transform: translateY(0);
    }
}

/* About section styles */
.aboutSection{
    margin: 6rem 3rem;
    padding: 1rem;
    scroll-snap-type: y mandatory;

}
.aboutTitle{
    color:#FC6736;
    text-align: left;
    scroll-snap-align: start;
}
.description{
    color:#0C2D57;
    margin-top: 3rem;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
}

.highlight{
    color:#FC6736;
}

/* Skills section */

.skillsSection{
    margin:4rem 3rem;
    padding: 1rem;
}

.skillsTitle, .interestsTitle{
    color:#FC6736;
}

.bubbleContainer-interests, .bubbleContainer-skills{
    padding: 2rem;
    height:40%;
    width: 90%;
    display: flex;
    gap:1.5rem;

}

.skills, .interests{
    width:200px;
    height: 200px;
    border-radius: 50%;
    background:#FFB0B0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 4px 4px 10px grey;
    color:#0C2D57;
    font-weight: bolder;

}

.skills:hover, .interests:hover{
    transform: scale(1.2)!important ;
}

.dontPress{
    text-align: center;
    background: rgb(244, 78, 78);
    font-family: inherit;
    font-size: 0.5rem;
    border-radius: 50%;
    width:60px;
    padding: 1rem;
    border: none;
    box-shadow: 2px 2px 10px;
    cursor: pointer;
    position: relative; /*for the popping effect*/
}

.img{
    object-fit: contain;
}

@keyframes pop {
    0%{
        transform: scale(1.5);
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}

/* Projects section */
.projectSection{
    margin:4rem 3rem;
    padding:1rem;
}

.projectsTitle{
    color:#FC6736;
    
}



#github_link{
    text-align: center;
    margin-top: 4rem;
}

#gitlink{
    color: #0C2D57;
    text-decoration: none;
    
}

#gitlink:hover{
    color: #379777;
}

/* Contact section */
.contactSection{
    margin:4rem 3rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.getinTouch{
    color:#FC6736;
}

.email-id{
    color:#0C2D57;
}

/* make the adjustments for a slightly larger mobile screens */
@media screen and (max-width:827px) {
    .menu{
        display: block;
    }

    .hamburger{
        display: flex;
    }

    .navbar{
        display: none;
        flex-direction: column;
        padding-left: 0;
        margin-top: 2rem;
    }

    /* changes to hamburger menu upon click, see script */

    .hamburger.change #bar1{
        transform: rotate(45deg)translate(12px,12px); /*value i got by playing around with the translation*/
    }

    .hamburger.change #bar2{
        display: none;
    }

    .hamburger.change #bar3{
        transform: rotate(-45deg);
    }

    .navbar.change{
        display: flex;
    }

    .menuBackground.change{
        display: block;
        min-width:50vw; /*value i got by playing around*/
        height:50%;
    }
    
    .dontPress{
        display: none;
    }

     /* changes to skills and interests section, making it a carousel */

    .bubbleContainer-skills, .bubbleContainer-interests{
        display: flex;
        gap: 1.5rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding: 2rem;
        padding-inline: 4rem; 
        height: 40%;
        width: 100%;
        scroll-padding-inline: 4rem; 
        box-sizing: border-box;

        

    }

    .skills, .interests{
        flex-shrink: 0;
        scroll-snap-align: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #FFB0B0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
        box-shadow: 4px 4px 10px grey;
        color: #0C2D57;
        font-weight: bolder; 
       

    }

    #github_link{
    text-align: center;
    margin-top: 4rem;
    }

    #gitlink{
        color: #0C2D57;
        text-decoration: none;
        
    }

    #gitlink:hover{
        color: #379777;
    }

    
}

/* adjustments to screen sizes < 500px */
@media screen and (max-width:578px){

    /* changes to the main title section */
    .menuBackground.change{
    min-width:80vw;
    
    }
    
    .title{
        font-size: 3rem;
    }

    .imageContainer{
        width:200px;
        height:200px;
    }

    /* changes to about section */
    .description{
        font-size: 1rem;
    }


    /* changes to contact section */
    #contact{
        text-align: center;
    }

    .getinTouch{
        font-size: 1.5rem;
    }

    .email-id{
        font-size: 1rem;
    }

    .projectsTitle{
        font-size: 1.5rem;
    }

    #github_link{
        text-align: center;
        margin-top: 4rem;
        font-size: 1rem;
    }

    #gitlink{
        color: #0C2D57;
        text-decoration: none;
        
    }

    #gitlink:hover{
        color: #379777;
    }
}