body{
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
    height: 100vh;
    margin:0;
    background: #45474B;
}

/* header and nav styles */
.menu{
    display: flex;
    justify-content: right;
    margin:3rem;
    z-index: 3;
    position: relative; /*adding this so that the menu background falls behind it. Z indexing doesnt work for elements 
    with position: static, in our case here .menu is positioned by default to static*/

}

.hamburger{
    height:50px;
    width:50px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    cursor:pointer

}

.bars{
    background: #379777;
    width:100%;
    height:8%;
    border-radius: 3%;
    transition: all 0.3s ease;
}

.navbar{
    display: flex;
    gap:2rem;
    list-style-type: none;
    transition: 0.3s ease;
}

.navbar a{
    color: #379777;
    text-decoration: none;
}


.menuBackground{
    position: absolute;
    min-width:0;
    height:0;
    background: #F4CE14;
    z-index: 1;
    top:0;
    border-radius: 50%;
    transform: translate(-20%,-20%);
    transition: 0.3s ease-in-out;
    /*i didnt set display here to none because i want the circle enlarging effect upon click*/
}

/* make the adjustments for a mobile screen */
@media screen and (max-width:809px) {
    .menu{
        display: block;
    }

    .hamburger{
        display: flex;
    }

    .navbar{
        display: none;
        flex-direction: column;
        padding-left: 0;
        margin-top: 2rem;
    }

    /* changes to hamburger menu upon click, see script */

    .hamburger.change #bar1{
        transform: rotate(45deg)translate(12px,12px); /*value i got by playing around with the translation*/
    }

    .hamburger.change #bar2{
        display: none;
    }

    .hamburger.change #bar3{
        transform: rotate(-45deg);
    }

    .navbar.change{
        display: flex;
    }

    .menuBackground.change{
        display: block;
        min-width:50vw; /*value i got by playing around*/
        height:50%;
    }
    
    
}


/* main section styles */
main{
    margin:4rem 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title{
    font-size: 5rem;
    text-align: left;
    color:#F4CE14;
    position: relative; /*for the floating animation*/
    animation: 2s float ease-in-out infinite;

}


.imageContainer{
    width:500px;
    height:500px;
    background: #379777;
    border-radius: 50%;
    position: relative;
    animation: 3s float ease-in-out infinite;
    animation-delay: 1s;

}

@keyframes float {
    0%{
        transform: translateY(0);
    }

    50%{
        transform:translateY(-10px)
    }

    100%{
        transform: translateY(0);
    }
}

/* About section styles */
.aboutSection{
    margin: 6rem 3rem;
    padding: 1rem;

}
.aboutTitle{
    color:#F4CE14;
    text-align: left;
}
.description{
    color:#379777;
    margin-top: 3rem;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
}

.highlight{
    color:#F4CE14;
}